.input {
    padding: 10px;
    width: 400px;
    font-size: 16px;
    margin-right: 10px;
    border: 1px #e4e4e4 solid
}

@media (min-width: 360px) and (max-width: 767px) {
    .input {
        width: 100%;
    }
}