.error {
    padding: 10px;
    margin: 5px;
    background: #ffcccc;
}

.error_close_button {
    position: relative;
    top: -20px;
    width: 22px;
    height: 22px;
    padding: 5px;
    cursor: pointer;
    float: right;
    opacity: 0.3;
    overflow: hidden;
}
.error_close_button:hover {
    opacity: 1;
}