.citylist {
    width: 900px;
    height: 100%;
    margin: auto;
}

.citylist__search {
    padding: 10px 0px;
    display: inline-block;
    width: 100%;
}

.citylist__search_form_input {
    width: 100%;
    margin: 5px;
}

.search_form_input {
    padding: 10px;
    width: calc(100% - 170px);
    font-size: 16px;
    margin-right: 10px;
}

.citylist__cards {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
}

@media (min-width: 360px) and (max-width: 767px) {
    .citylist {
        width: 100%;
    }
}